
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(140, 140, 141);
  position: relative;
}

.wrapper {
  background: rgb(140, 140, 141);
  display:flex;
  flex-direction: row;
  padding: 2%;
}

.game-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Defines game board */
/* Per tut- The perspective property sets how far in the z plane the object is from the user. The lower the value the bigger the perspective effect */
.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

/* Card size, box shadow */
/* From tut - preserve-3d, to position them in the 3D space created in the parent, instead of flattening it to the z = 0 plane  */
.memory-card {
  width: calc(25% - 15px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

/* Makes the cards appear pressed when clicked by making them slightly smaller when active */
.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

/* Stacks front and back above eachother */
.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: rgb(25, 35, 44);
   backface-visibility: hidden;
}

/* Flip effect */
.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face {
  transform: rotateY(180deg);
}

.sidebar {
  padding: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-content {
  color: white;
  font-size: 1.5rem;
  padding: 1%;
  font-weight: bold;
  text-transform: capitalize;
  background-color: black;
  margin-left: 25%;
  margin-right: 2%;
  margin-top: 10%;
  border-radius: 5px;
  border: none;
  text-align: center;
}

#counter-display {
  border-radius: 0;
}

.reset-button {
  margin-top: 35%;
  background-color: rgb(25, 35, 44);
  color: rgb(219, 204, 92);
}

.win-banner {
  border-radius: 2px;
  text-align: center;
  height: 30%;
  width: 95%;
  margin: 15% 1%;
  color: rgb(219, 204, 92);
  background-color: rgb(25, 35, 44);
  position: absolute;
  z-index: 1;
  padding: 2%;
}

#win-display {
  font-size: 4rem;
  margin-bottom: 1%;
  background: linear-gradient(to right, rgb(46, 212, 241) 0%, #af0211 100%);
  -webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
}

.play-again-button {
  color: rgb(25, 35, 44);
  background: linear-gradient(to left, rgb(95, 182, 139) 0%, #b871f1 100%);
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1%;
  width: 30%;
}

.faded {
  opacity: .5;
}

.hidden {
  display: none;
}