
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(140, 140, 141);
}

.game-container {
  height: 100vh;
  display: flex;
}

/* Defines game board */
/* Per tut- The perspective property sets how far in the z plane the object is from the user. The lower the value the bigger the perspective effect */
.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

/* Card size, box shadow */
/* From tut - preserve-3d, to position them in the 3D space created in the parent, instead of flattening it to the z = 0 plane  */
.memory-card {
  width: calc(25% - 15px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

/* Makes the cards appear pressed when clicked by making them slightly smaller when active */
.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

/* Stacks front and back above eachother */
.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: rgb(25, 35, 44);
   backface-visibility: hidden;
}

/* Flip effect */
.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face {
  transform: rotateY(180deg);
}

.reset-button {
  margin-bottom: 5px;
  height: 20px;
  width: 65px;
  border-radius: 5px;
}